{% extends 'base.html' %}
{% block title %} Bridge {% endblock %}

{% block content %}
<div class="bg-gruvbox-bg1 p-8 rounded-xl shadow-md">
    <div class="grid grid-cols-3 gap-6 max-w-3xl mx-auto">
        {% for social in socials %}
        <a href="{{ social.url }}" target="_blank"
           class="hover-tile flex items-center justify-center bg-gruvbox-bg0-h p-4 rounded-xl shadow-md">
            <img src="{{ url_for('static', filename=social.icon) }}" alt="{{ social.name }}"
                class="hover-icon w-12 h-12 sm:w-8 sm:h-8 md:w-10 md:h-10 lg:w-10 lg:h-10">
        </a>
        {% endfor %}
    </div>
</div>
{% endblock %}