{% extends "base.html" %}

{% block title %}Catch Me{% endblock %}

{% block content %}
    <h1>Catch Me</h1>
    <div class="social-grid">
        <div class="social-card">
            <img src="{{ url_for('static', filename='images/socials/telegram.svg') }}" alt="Telegram">
            <a href="https://web.telegram.org" target="_blank">Telegram</a>
        </div>
        <div class="social-card">
            <img src="{{ url_for('static', filename='images/socials/x.svg') }}" alt="X">
            <a href="https://x.com" target="_blank">X</a>
        </div>
        <div class="social-card">
            <img src="{{ url_for('static', filename='images/socials/instagram.svg') }}" alt="Instagram">
            <a href="https://www.instagram.com" target="_blank">Instagram</a>
        </div>
        <div class="social-card">
            <img src="{{ url_for('static', filename='images/socials/reddit.svg') }}" alt="Reddit">
            <a href="https://www.reddit.com" target="_blank">Reddit</a>
        </div>
        <div class="social-card">
            <img src="{{ url_for('static', filename='images/socials/leetcode.svg') }}" alt="Leetcode">
            <a href="https://leetcode.com" target="_blank">Leetcode</a>
        </div>
        <div class="social-card">
            <img src="{{ url_for('static', filename='images/socials/steam.svg') }}" alt="Steam">
            <a href="https://steamcommunity.com" target="_blank">Steam</a>
        </div>
        <div class="social-card">
            <img src="{{ url_for('static', filename='images/socials/pulse.svg') }}" alt="Pulse">
            <a href="https://www.tbank.ru/invest/pulse" target="_blank">Pulse</a>
        </div>
    </div>
{% endblock %}