{% extends 'base.html' %}
{% block title %} – Find Me {% endblock %}
{% block content %}
<div class="grid grid-cols-3 gap-4 justify-items-center p-6">
    {% for social in socials %}
    <a href="{{ social.url }}" target="_blank">
        <div class="bg-gruvbox-bg0-h p-4 rounded-lg shadow-md hover:shadow-lg transition-shadow duration-200">
            <img src="{{ url_for('static', filename=social.icon) }}" alt="{{ social.name }}" class="w-12 h-12">
        </div>
    </a>
    {% endfor %}
</div>
{% endblock %}
